<tr>
  <td>
    <h4><%= category.name %></h4>
  </td>
</tr>

<header class="page-header">
    <h1>
      <%= category.name %>
      <small>(<%=  @products  %>)</small>
      <small>(<%=  @catagory  %>)</small>
      <small>(<%=  @catagories  %>)</small>
    </h1>
  </header>